.split-layout {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.split-layout-left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2d3548;
  overflow: hidden;
}

.split-layout-divider {
  width: 1px;
  background: #2d3548;
  cursor: col-resize;
}

.split-layout-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
